.piano {
  display: flex;
  }

.key {
  width: 50px;
  height: 200px;
  border: 1px solid black;
  }

.white {
  background-color: white;
  height: 50vh;
  margin: 1px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  }

.black {
  background-color: black;
  margin-left: -25px;
  margin-right: -25px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  }

 black[id="Csharp"],
.black[id="Dsharp"],
.black[id="Fsharp"],
.black[id="Gsharp"],
.black[id="Asharp"] {
  margin-left: -10px;
}

.key[id="C"].active { top: 10px; }
.key[id="Csharp"].active { top: 10px; }
.key[id="D"].active { top: 10px; }
