body {
    background-image:url('imagen/fondo.png');
    background-size: cover;
  background-repeat: center;

}
.container {
    width: 960px;
    margin:auto;
}
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}

 nav ul {
    list-style: none;
    font-family: Italic;
    font-size: 20px;
    margin: 0;
    padding: 0;
 } 
nav li {
    display: inline-block;
    position:relative;

}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0906f1;
}
nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
   
    display: none;
}

nav ul ul li {
    display: block;
    width: 200px;
}

nav li:hover > ul {
    display: block;
}